<h1>Stitchifier</h1>
<h2>Stitchify your life!</h2>

<%= react_component("Pattern", props: @hello_world_props, prerender: false) %>

<p>Stitchifier was created by Lenny Wondra, who is <a href="https://www.linkedin.com/in/ln1draw/" target="_blank" aria-label="opens linkedin profile in a new tab">looking for work.</a></p>

<p>Stitchifier was built in React and Ruby on Rails (in part as a refresher in both technologies).</p>